.settings
/.build.xml.swp
bin/
environment.properties
.externalToolBuilders
gen/
obj/
.cproject
.project
/temporary_file
project.properties
jni/FFMPEG/Includes
/libs/armeabi/gdbserver
/libs/armeabi/gdb.setup
/libs/armeabi-v7a/gdbserver
/libs/armeabi-v7a/gdb.setup
/jni/FFMPEG/armeabi-v7a/libavcodec.so
/jni/FFMPEG/armeabi-v7a/libavdevice.so
/jni/FFMPEG/armeabi-v7a/libavfilter.so
/jni/FFMPEG/armeabi-v7a/libavformat.so
/jni/FFMPEG/armeabi-v7a/libavutil.so
/jni/FFMPEG/armeabi-v7a/libswscale.so
/libs/armeabi/libadfreeflight.so
/libs/armeabi/libglfix.so
/libs/armeabi-v7a/libadfreeflight.so
/libs/armeabi-v7a/libavcodec.so
/libs/armeabi-v7a/libavdevice.so
/libs/armeabi-v7a/libavfilter.so
/libs/armeabi-v7a/libavformat.so
/libs/armeabi-v7a/libavutil.so
/libs/armeabi-v7a/libglfix.so
/libs/armeabi-v7a/libswscale.so
